__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
.venv/
.vscode/
.idea/
*.log
.DS_Store
nspanel-thermostat/config.json
nspanel-thermostat/apk/.gradle/
nspanel-thermostat/apk/build/
nspanel-thermostat/apk/app/build/
nspanel-thermostat/node_modules/
nspanel-thermostat/dist/
_commit_push.sh
nspanel-thermostat-v2/config.json
nspanel-thermostat-v2/apk/.gradle/
nspanel-thermostat-v2/apk/build/
nspanel-thermostat-v2/apk/app/build/
nspanel-thermostat-v2/node_modules/
nspanel-thermostat-v2/dist/
